{% extends "base.html" %}
{% block title %}
	MyView - Academy
{% endblock %}
{% block content %}
  {% load static %}
  {% get_media_prefix as media_prefix %}
  <div class="top triangles text-center">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="full-w" muted>
        <source src="{% static 'videos/myview3.mp4' %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="{% static 'videos/myview3.webm' %}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </div>
    <div class="flex-column min-full-size justify-center">
      <h1 class="title big">{{ content.titulo_academy }}</h1>
      <p class="subtitle">{{ content.subtitulo_academy }}</p>
      <a href="{% url 'home' %}" class="o-button-reverse academy">Contato</a>
    </div>
  </div>
	<div class="flex-column justify-center audiovisual-description">
		<div class="description-content">
			<h4 class="">{{ content.subtitulo_quem_somos_academy }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos_academy }}</p>
		</div>
  </div>
  {% if courses %}
        <div class="flex paraxify justify-center triangles module-title academy">
            <div class="overlay"></div>
            <h2 class="title white big text-center">Cursos</h2>
        </div>
        <div class="flex pricing-table justify-center">
            {% for c in courses %}
                <div class="pricing-option">
                    <img src="{{ media_prefix }}{{ c.photo }}" alt="{{ c.title }}" />
                    <h2 class="subtitle" >{{ c.name }}</h2>
                    <hr />
                    <p style="white-space:pre-wrap;text-align:justify">{{ c.description }}</p>
                    <hr />
                    <div class="price">
                        <div class="front">
                            <span class="price">R$ {{ c.price }}</span>
                        </div>
                        <div class="back">
                            <a href="#" class="button">Contato</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="flex bg-light page-title">
            <h2 class="subtitle dark text-center">Contato</h2>
        </div>
        <div id="contact" class="contact-container flex start full-w">
            <div class="contact-info flex-column start">
                <span class="light-text margin-b">{{ content.texto_contato }}</span>
                <span class="dark detail-text">{{ content.endereco_contato }}</span>
                <span class="dark detail-text">{{ content.endereco_contato_complemento }}</span>
                <span class="dark detail-text margin-b">{{ content.telefone }} / {{ content.email }}</span>
                <div class="flex contact-info_icons">
                    <a target="_blank" href="https://www.facebook.com/myviewdrones/"><i class="icon-button academy fa fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/myviewbr/"><i class="icon-button academy fa fa-instagram"></i></a>
                    <a target="_blank" href="https://vimeo.com/user51265724"><i class="icon-button academy fa fa-vimeo"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC1JyE1jSGskez0KXZax8wLg"><i class="icon-button academy fa fa-youtube-play"></i></a>
                </div>
            </div>
            <form action="{% url formurl %}" method="POST" class="contact-form">
                {% csrf_token %}
                <div class="flex half-form_container">
                    {{ form.name }}
                    {{ form.phone }}
                </div>
                {{ form.email }}
                {{ form.message }}
                <button class="button-contact-send academy margin-b">Enviar</button><br>
                {% if form.errors %}
                    {% for error, value in form.errors.items %}
                        <span style="color:red;" class="light-text margin-b"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <span class="dark-label margin-b">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
{% endblock %}