{% extends "base.html" %}
{% block title %}
	MyView - Imagens
{% endblock %}
{% block content %}
  {% load static %}
  {% get_media_prefix as media_prefix %}
  <div class="top triangles text-center">
    <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="full-w" muted>
        <source src="{% static 'videos/myview3.mp4' %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="{% static 'videos/myview3.webm' %}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </div>
    <div class="flex-column min-full-size justify-center">
      <h1 class="title big">{{ content.titulo_audiovisual }}</h1>
      <p class="subtitle">{{ content.subtitulo_audiovisual }}</p>
      <a href="{% url 'home' %}" class="o-button-reverse audiovisual">Contato</a>
    </div>
  </div>
	<div class="flex-column justify-center audiovisual-description">
		<div class="description-content">
			<h4 class="">{{ content.subtitulo_quem_somos_audiovisual }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos_audiovisual }}</p>
		</div>
  </div>
  {% if services %}
        <div class="flex paraxify justify-center triangles module-title audiovisual">
            <div class="overlay"></div>
            <h2 class="title white big text-center">Serviços</h2>
        </div>
        <div class="flex-column full-w">
            {% for s in services %}
                <div class="flex special-service full-w">
                    <div class="special-service_img">
                        <div class="special-service_overlay"></div>
                        <img src="{{ media_prefix }}{{ s.photo }}" alt="{{ s.name }}">
                    </div>
                    <div class="flex-column start special-service_content">
                        <span class="dark-label big">{{ s.name }}</span>
                        <br>
                        <div style="width:30px;height:4px;background:#29aae2;margin-bottom:34px;"></div>
                        <ul>
                            <li style="white-space:pre-wrap;" class="light-text">{{ s.description }}</li>
                        </ul>
                        <div class="margin-b"></div>
                        {% if s.link %}
		                      <a href="{{ s.link }}" target="_blank">Veja o vídeo <span class="dark-text fa fa-external-link-square"></span></a>
	                      {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if equipaments %}
		<div class="flex bg-light justify-center section-title_container">
			<h2 class="title text-center">Equipamentos para audiovisual</h2>
		</div>
		<div class="flex full-w bg-light equipament-container">
      {% for e in equipaments %}
        <div class="wrapper">
          <div class="equipament-card">
            <div class="top-section flex justify-center">
              <img class="top-image" src="{{ media_prefix }}{{ e.photo }}" alt="{{ e.name }}">
            </div>
            <div class="bottom-section flex justify-center">
              <h2>{{ e.name }}</h2>
            </div>
          </div>
          <div class="inside">
            <div class="icon">
              <img src="/static/img/information.png" alt="information" />
            </div>
            <div class="contents flex justify-center">
              <p style="white-space:pre-wrap;">{{ e.description }}</p>
            </div>
          </div>
        </div>
			{% endfor %}
		</div>
  {% endif %}
  {% if clients %}
		<div class="flex-column testimonial-section">
			<h2 class="title dark text-center">Nossos Clientes</h2>
			<div class="flex justify-center wrap full-w clientlogos">
				{% for c in clients %}
					<img class="clientlogos_img" style="margin:20px;" src="{{ media_prefix }}{{ c.logo }}" alt="">
				{% endfor %}
			</div>
		</div>
  {% endif %}
  <div class="flex bg-light page-title">
      <h2 class="subtitle dark text-center">Contato</h2>
  </div>
  <div id="contact" class="contact-container flex start full-w">
      <div class="contact-info flex-column start">
          <span class="light-text margin-b">{{ content.texto_contato }}</span>
          <span class="dark detail-text">{{ content.endereco_contato }}</span>
          <span class="dark detail-text">{{ content.endereco_contato_complemento }}</span>
          <span class="dark detail-text margin-b">{{ content.telefone }} / {{ content.email }}</span>
          <div class="flex contact-info_icons">
              <a target="_blank" href="https://www.facebook.com/myviewdrones/"><i class="icon-button audiovisual fa fa-facebook"></i></a>
              <a target="_blank" href="https://www.instagram.com/myviewbr/"><i class="icon-button audiovisual fa fa-instagram"></i></a>
              <a target="_blank" href="https://vimeo.com/user51265724"><i class="icon-button audiovisual fa fa-vimeo"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UC1JyE1jSGskez0KXZax8wLg"><i class="icon-button audiovisual fa fa-youtube-play"></i></a>
          </div>
      </div>
      <form action="{% url formurl %}" method="POST" class="contact-form">
          {% csrf_token %}
          <div class="flex half-form_container">
              {{ form.name }}
              {{ form.phone }}
          </div>
          {{ form.email }}
          {{ form.message }}
          <button class="button-contact-send audiovisual margin-b">Enviar</button><br>
          {% if form.errors %}
              {% for error, value in form.errors.items %}
                  <span style="color:red;" class="light-text margin-b"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
              {% endfor %}
          {% endif %}
          {% if messages %}
              {% for message in messages %}
                  <span class="dark-label margin-b">{{ message }}</span>
              {% endfor %}
          {% endif %}
      </form>
  </div>
{% endblock %}