<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        
        <!--[if lte IE 9]>
                <![endif]-->
        <title>{% block title %}MyView{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400|Montserrat:300,400" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href='{% static "css/home.css" %}'>
        <script type='text/javascript' src='{% static "home.js" %}'></script>
    </head>     
    <body>
        <header class="header">
            <div class="header-content flex">
                <div class="header-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                <div class="header-nav">
                    <ul class="header-nav_items flex">
                        <a href="{% url 'home' %}"><li>Home</li></a>
                        <a href="{% url 'services' %}"><li>Soluções e Serviços</li></a>
                        <a href="{% url 'projects' %}"><li>Portfólio</li></a>
                        <a href="{% url 'courses' %}"><li>MyView Academy</li></a>     
                        <a href="{% url 'contact' %}"><li>Contato</li></a>
                    </ul>
                    <span id="mobile-menu" class="fa fa-bars"></span>
                </div>
            </div>
            <ul class="header-nav_mobile-items flex-column">
                <a href="{% url 'home' %}"><li>Home</li></a>
                <a href="{% url 'services' %}"><li>Soluções e Serviços</li></a>
                <a href="{% url 'projects' %}"><li>Portfólio</li></a>
                <a href="{% url 'courses' %}"><li>MyView Academy</li></a>
                <a href="{% url 'contact' %}"><li>Contato</li></a>
            </ul>
        </header>

        {% block content %}{% endblock %}
        
        <div class="pre-footer flex start full-w">
            <div class="pre-footer_item flex-column start">
                <div class="footer-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo-white.png' %}" alt=""></a>
                </div>
                <p class="light-text white footer-logo_text">{{ content.descricao_rodape }}</p>
            </div>
            <div class="pre-footer_item flex-column start">
            </div>
            <div class="pre-footer_item flex-column start">
                <span class="light-label pre-footer_item_title">{{ content.titulo_contato_rodape }}</span>
                <span class="light-text white"><span class="fa fa-map-marker"></span> {{ content.endereco_contato }}</span>
                <span class="light-text white"><span class="fa fa-phone"></span> {{ content.telefone }}</span>
                <span class="light-text white"><span class="fa fa-envelope-o"></span> {{ content.email }}</span>
                <br>
                <a href="{% url 'contact' %}" class="o-button-reverse footer-logo_btn">Contato</a>     
            </div>
            {% load instagram_client %}

            {% instagram_user_recent_media myviewbr %}
            <div class="pre-footer_item flex-column start">
                <span class="light-label pre-footer_item_title">Instagram</span>
                <div class="pre-footer_item_instagram_container full-w flex">
                    {% for media in recent_media %}
                    {% if forloop.counter <= 6 %}
                    <div class="django_instagram_media_wall_item">
                        <a href="https://www.instagram.com/p/{{ media.code }}/" target="_blank" title="{{ media.caption }}">
                            <img src="{{ media.thumbnail_src|thumbnail }}"/>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer class="footer flex justify-center white">
            <span class="detail-text">Copyright © 2017 MyView</span>
        </footer>
    </body>
</html>