{% extends "base.html" %}
{% block title %}
    MyView - Home
{% endblock %}
{% block content %}
    <div class="flex bg-light page-title">
        <h2 class="subtitle dark text-center">Contato</h2>
    </div>
    <div id="contact" class="contact-container flex start full-w">
        <div class="contact-info flex-column start">
            <h2 class="dark text-center" style="text-transform:uppercase;margin-top:0;">{{ content.titulo_contato }}</h2>
            <span class="light-text margin-b">{{ content.texto_contato }}</span>
            <span class="dark detail-text">{{ content.endereco_contato }}</span>
            <span class="dark detail-text">{{ content.endereco_contato_complemento }}</span>
            <span class="dark detail-text margin-b">{{ content.telefone }} / {{ content.email }}</span>
            <div class="flex contact-info_icons">
                <a target="_blank" href="https://www.facebook.com/myviewdrones/"><i class="icon-button fa fa-facebook"></i></a>
                <a target="_blank" href="https://www.instagram.com/myviewbr/"><i class="icon-button fa fa-instagram"></i></a>
                <a target="_blank" href="https://vimeo.com/user51265724"><i class="icon-button fa fa-vimeo"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UC1JyE1jSGskez0KXZax8wLg"><i class="icon-button fa fa-youtube-play"></i></a>
            </div>
        </div>
        <div class="contact-form">
            <div class="flex half-form_container">
                <input type="text" placeholder="Nome" name="name" class="half-form">
                <input type="text" placeholder="Telefone" name="phone" class="half-form">
            </div>
            <input type="text" placeholder="email" name="Email">
            <textarea name="message" placeholder="Mensagem" id="" cols="30" rows="5"></textarea>
            <button class="button">Enviar</button>
        </div>
    </div>
{% endblock %}