<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
        
        <!--[if lte IE 9]>
                <![endif]-->
        <title>{% block title %}MyView{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400|Montserrat:300,400" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href='{% static "css/home.css" %}'>
        <script type='text/javascript' src='{% static "home.js" %}'></script>
    </head>     
    <body>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-103390750-1', 'auto');
            ga('send', 'pageview');
        </script>
        <header class="header">
            <div class="header-content flex">
                <div class="header-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                <div class="header-nav">
                    <ul class="header-nav_items flex">
                        <a class="audiovisual" href="{% url 'audiovisual' %}"><li>Imagens</li></a>
                        <a class="enterprise" href="{% url 'enterprise' %}"><li>Enterprise</li></a>
                        <a class="solutions" href="{% url 'solutions' %}"><li>Soluções</li></a>
                        <a class="academy" href="{% url 'academy' %}"><li>Academy</li></a>
                    </ul>
                    <span id="mobile-menu" class="fa fa-bars"></span>
                </div>
            </div>
            <ul class="header-nav_mobile-items flex-column">
                <a class="audiovisual" href="{% url 'audiovisual' %}"><li>Imagens</li></a>
                <a class="enterprise" href="{% url 'enterprise' %}"><li>Enterprise</li></a>
                <a class="solutions" href="{% url 'solutions' %}"><li>Soluções</li></a>
                <a class="academy" href="{% url 'academy' %}"><li>Academy</li></a>
            </ul>
        </header>

        {% block content %}{% endblock %}
        
        <div class="flex bg-light page-title">
            <h2 class="subtitle dark text-center">Contato</h2>
        </div>
        <div id="contact" class="contact-container flex start full-w">
            <div class="contact-info flex-column start">
                <h2 class="dark text-center" style="text-transform:uppercase;margin-top:0;">{{ content.titulo_contato }}</h2>
                <span class="light-text margin-b">{{ content.texto_contato }}</span>
                <span class="dark detail-text">{{ content.endereco_contato }}</span>
                <span class="dark detail-text">{{ content.endereco_contato_complemento }}</span>
                <span class="dark detail-text margin-b">{{ content.telefone }} / {{ content.email }}</span>
                <div class="flex contact-info_icons">
                    <a target="_blank" href="https://www.facebook.com/myviewdrones/"><i class="icon-button fa fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/myviewbr/"><i class="icon-button fa fa-instagram"></i></a>
                    <a target="_blank" href="https://vimeo.com/user51265724"><i class="icon-button fa fa-vimeo"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC1JyE1jSGskez0KXZax8wLg"><i class="icon-button fa fa-youtube-play"></i></a>
                </div>
            </div>
            <form action="{% url formurl %}" method="POST" class="contact-form">
                {% csrf_token %}
                <div class="flex half-form_container">
                    {{ form.name }}
                    {{ form.phone }}
                </div>
                {{ form.email }}
                {{ form.message }}
                <button class="button margin-b">Enviar</button><br>
                {% if form.errors %}
                    {% for error, value in form.errors.items %}
                        <span style="color:red;" class="light-text margin-b"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <span class="dark-label margin-b">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            </form>
        </div>

        <div class="pre-footer flex start full-w">
            <div class="pre-footer_item flex-column start">
                <div class="footer-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo-white.png' %}" alt=""></a>
                </div>
                <p class="light-text white footer-logo_text">{{ content.descricao_rodape }}</p>
                <div class="flex">
                    <img height="60" src="{% static 'img/cert1.png' %}" alt="certificado 1">
                    <img height="60" src="{% static 'img/cert2.png' %}" alt="certificado 2">
                </div>
            </div>
            <div class="pre-footer_item flex-column start">
            </div>
            <div class="pre-footer_item flex-column start">
            </div>
            <div class="pre-footer_item flex-column start">
                <span class="light-label pre-footer_item_title">{{ content.titulo_contato_rodape }}</span>
                <span class="light-text white"><span class="fa fa-map-marker"></span> {{ content.endereco_contato }}</span>
                <span class="light-text white"><span class="fa fa-phone"></span> {{ content.telefone }}</span>
                <span class="light-text white margin-b"><span class="fa fa-envelope-o"></span> {{ content.email }}</span>   
            </div>
        </div>
        <footer class="footer flex justify-center white">
            <span class="detail-text">Copyright © 2017 MyView</span>
        </footer>
    </body>
</html>