{% extends "base.html" %}
{% block title %}
    MyView - Projetos
{% endblock %}
{% block content %}
    {% load static %}   
    {% get_media_prefix as media_prefix %}
    <div class="flex-column justify-center courses-top triangles"></div>
    <div class="flex-column justify-center section-title_container courses-title">
        <h2 class="title dark text-center">{{ content.titulo_cursos }}</h2>
        <span class="text-center light-text">{{ content.descricao_pagina_cursos }}</span>
    </div>
    <div class="courses-content flex-column start full-w">
        {% for c in courses %}
            <div class="courses-item full-w">
                <img style="height:250px;width:250px;" height="250" width="250" src="{{ media_prefix }}{{ c.photo }}" alt="">
                <div class="flex-column start">
                    <span class="dark-label big">{{ c.name }}</span>
                    <p class="light-text" style="white-space:pre-wrap;">{{ c.description }}</p>
                    <form action="{% url 'contact' %}">
                        <button class="button">Contato</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
{% endblock %}
