{% extends "base.html" %}
{% block title %}
	MyView - Home
{% endblock %}
{% block content %}
	{% load static %}
	{% get_media_prefix as media_prefix %}
	<div class="top triangles text-center">
		<div class="video-container">
			<div class="filter"></div>
			<video autoplay loop class="full-w" muted>
				<source src="{% static 'videos/myview3.mp4' %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
				<source src="{% static 'videos/myview3.webm' %}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
		</div>
		<div class="flex-column min-full-size justify-center">
			<h1 class="title big">{{ content.titulo }}</h1>
			<p class="subtitle">{{ content.subtitulo }}</p>
			<div class="flex top-icons">
				<a target="_blank" href="https://www.facebook.com/myviewdrones/"><i class="o-icon-button fa fa-facebook"></i></a>
				<a target="_blank" href="https://www.instagram.com/myviewbr/"><i class="o-icon-button fa fa-instagram"></i></a>
				<a target="_blank" href="https://vimeo.com/user51265724"><i class="o-icon-button fa fa-vimeo"></i></a>
				<a target="_blank" href="https://www.youtube.com/channel/UC1JyE1jSGskez0KXZax8wLg"><i class="o-icon-button fa fa-youtube-play"></i></a>
			</div>
		</div>
	</div>
	<div class="flex justify-center section-title_container" style="">
		<h2 class="title dark text-center">{{ content.titulo_quem_somos }}</h2>
	</div>
	<div class="flex-column justify-center description">
		<div class="description-content">
			<h4 class="subtitle">{{ content.subtitulo_quem_somos }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos }}</p>
		</div>
	</div>
	<div class="flex paraxify justify-center triangles module-title audiovisual">
		<div class="overlay"></div>
		<h2 class="title white big text-center">Imagens</h2>
	</div>
	<div class="flex-column justify-center module-description">
		<div class="module-description-content">
			<h4 class="subtitle">{{ content.subtitulo_quem_somos }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos }}</p>
		</div>
	</div>
	<div class="flex-column full-w module-item_cta">
		<form action="{% url 'audiovisual' %}">
				<button class="button">Saiba Mais</button>
		</form>
	</div>
	<div class="flex paraxify justify-center triangles module-title enterprise">
		<div class="overlay"></div>
		<h2 class="title white big text-center">Enterprise</h2>
	</div>
	<div class="flex-column justify-center module-description">
		<div class="module-description-content">
			<h4 class="subtitle">{{ content.subtitulo_quem_somos }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos }}</p>
		</div>
	</div>
	<div class="flex-column full-w module-item_cta">
		<form action="{% url 'enterprise' %}">
				<button class="button">Saiba Mais</button>
		</form>
	</div>
	<div class="flex paraxify justify-center triangles module-title solutions">
		<div class="overlay"></div>
		<h2 class="title white big text-center">Soluções</h2>
	</div>
	<div class="flex-column justify-center module-description">
		<div class="module-description-content">
			<h4 class="subtitle">{{ content.subtitulo_quem_somos }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos }}</p>
		</div>
	</div>
	<div class="flex-column full-w module-item_cta">
		<form action="{% url 'solutions' %}">
				<button class="button">Saiba Mais</button>
		</form>
	</div>
	<div class="flex paraxify justify-center triangles module-title academy">
		<div class="overlay"></div>
		<h2 class="title white big text-center">Academy</h2>
	</div>
	<div class="flex-column justify-center module-description">
		<div class="module-description-content">
			<h4 class="subtitle">{{ content.subtitulo_quem_somos }}</h4>
			<p style="white-space:pre-wrap;color:black;" class="light-text">{{ content.texto_quem_somos }}</p>
		</div>
	</div>
	<div class="flex-column full-w module-item_cta">
		<form action="{% url 'academy' %}">
				<button class="button">Saiba Mais</button>
		</form>
	</div>
{% endblock %}
