{% extends "base.html" %}
{% block title %}
	MyView - Home
{% endblock %}
{% block content %}
    {% load static %}
    {% get_media_prefix as media_prefix %}
	<div class="top triangles text-center">
		<div class="video-container">
			<div class="filter"></div>
			<video autoplay loop class="full-w" muted>
				<source src="{% static 'videos/myview.mp4' %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
				<source src="{% static 'videos/myview.webm' %}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			</video>
		</div>
		<div class="flex-column min-full-size justify-center">
			<h1 class="title big">{{ content.titulo }}</h1>
			<p class="subtitle">{{ content.subtitulo }}</p>
			<a href="#contact" class="o-button-reverse">Contato</a>
		</div>
	</div>
	<div class="flex justify-center section-title_container">
		<h2 class="title dark text-center">{{ content.titulo_quem_somos }}</h2>
	</div>
	<div class="flex-column justify-center description">
		<div class="description-content">
			<h4 class="subtitle">{{ content.subtitulo_quem_somos }}</h4>
			<p class="light-text">{{ content.texto_quem_somos }}</p>
		</div>
	</div>
	<div class="flex paraxify justify-center triangles service-title">
		<div class="overlay"></div>
		<h2 class="title white big text-center">{{ content.titulo_servicos }}</h2>
	</div>
	<div class="flex full-w service-item_container">
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
		<div class="flex-column service-item">
			<i class="fa fa-3x fa-envelope-open-o"></i>
			<span class="dark-label">Web Design</span>
			<p class="light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
		</div>
	</div>
	{% if projects %}
		<div class="flex justify-center bg-light section-title_container">
			<h2 class="title dark text-center">{{ content.titulo_projetos }}</h2>
		</div>
		<div class="flex-column full-w">
			{% for p in projects %}
				<div class="project-container full-w">
					<div class="project_big img-container">
						<img src="{{ media_prefix }}{{ p.photos.all.0.photo }}" alt="">
					</div>
					<div class="flex-column project_small">
						<div class="full-w img-container">
							<div class="project_small-overlay flex justify-center">
								<div class="flex">
									{% if p.vimeo %}
										<a href="" data-id="{{ p.vimeo }}" class="button-square start-video">Ampliar</a>
									{% endif %}
									<a href="" class="button-square">Info</a>
									<a href="{% url 'project' p.id %}" class="button-square">Abrir</a>
								</div>
							</div>
							<img src="{{ media_prefix }}{{ p.photos.all.1.photo }}" alt="">
						</div>
						<div class="flex-column start full-w project_description">
							<span class="dark-label">{{ p.name }}</span>
							{% if p.short_description %}
								<p class="light-text">{{ p.short_description }}</p>
							{% else %}
								<p class="light-text">{{ p.description|truncatechars:255 }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	<div class="flex-column">
		<br><br><br><br>
		<h2 class="title dark text-center">{{ content.titulo_depoimentos }}</h2>
		<div class="clients-container flex justify-center">
			<div class="flex-column client text-center">
				<img class="client-img" src="{% static 'img/avatar.jpg' %}" alt="">
				<p class="dark-label client-name">Nome do Cliente</p>
				<span class="light-text">Área ou setor</span>
				<p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eum accusamus delectus libero quo eaque soluta aliquam pariatur nihil quisquam ex ab, ratione alias, neque facere! Numquam labore rerum facilis?</p>
			</div>
		</div>
		<br><br><br><br>
	</div>
	<div id="contact" class="contact-container flex start full-w">
		<div class="contact-info flex-column start">
			<h2 class="title dark text-center" style="margin-top:0;">{{ content.titulo_contato }}</h2>
			<span class="light-text">{{ content.texto_contato }}</span>
			<br>
			<span class="dark detail-text">{{ content.endereco_contato }}</span>
			<span class="dark detail-text">{{ content.numero_e_email }}</span>
			<br>
			<div class="flex contact-info_icons">
				<a target="_blank" href="https://www.facebook.com/myviewdrones/"><i class="icon-button fa fa-facebook"></i></a>
				<a target="_blank" href="https://www.instagram.com/myviewbr/"><i class="icon-button fa fa-instagram"></i></a>
				<a target="_blank" href="https://vimeo.com/user51265724"><i class="icon-button fa fa-vimeo"></i></a>
				<a target="_blank" href="https://www.youtube.com/channel/UC1JyE1jSGskez0KXZax8wLg"><i class="icon-button fa fa-youtube-play"></i></a>
			</div>
		</div>
		<div class="contact-form">
			<div class="flex half-form_container">
				<input type="text" placeholder="Nome" name="name" class="half-form">
				<input type="text" placeholder="Telefone" name="phone" class="half-form">
			</div>
			<input type="text" placeholder="email" name="Email">
			<textarea name="message" placeholder="Mensagem" id="" cols="30" rows="5"></textarea>
			<button class="button">Enviar</button>
		</div>
	</div>
{% endblock %}