{% extends "base.html" %}
{% block title %}
    MyView - Projetos
{% endblock %}
{% block content %}
    <div class="flex bg-light projects-title">
        <h2 class="subtitle dark text-center">Portfólio</h2>
    </div>
    <div class="flex-column projects-content">
        <div class="flex full-w projects-content_cat">
            <span class="o-button">Todos</span>
            <span class="o-button">Inspeção</span>
            <span class="o-button">Monitoramento</span>
        </div>
        <div id="grid" class="projects-content_items">
            <div class="projects-content_item">
                
            </div>
        </div>
    </div>
{% endblock %}
