{% extends "base.html" %}
{% block title %}
    MyView - Projetos
{% endblock %}
{% block content %}
    {% load static %}   
    {% get_media_prefix as media_prefix %}
    <div class="flex bg-light page-title">
        <h2 class="subtitle dark text-center">Portfólio</h2>
    </div>
    <div class="flex-column projects-content">
        <div class="flex full-w projects-content_cat">
            <span id="all" class="o-button project-filter-button">Todos</span>
            {% for c in categories %}
                <span id="{{ c.id }}" class="o-button project-filter-button">{{ c.name }}</span>
            {% endfor %}
        </div>
        <div id="grid" class="projects-content_items full-w">
            {% for p in projects %}
                <div class="projects-content_item" data-groups='["{{ p.category.id }}"]'>
                    <div class="projects-content_item_overlay flex-column justify-center">
                        <a href="{% url 'project' p.id %}"><i class="icon-button fa fa-search"></i></a>
                        <br>
                        <br>
                        <a href="{% url 'project' p.id %}" class="big">{{ p.name|truncatechars:40 }}</a>
                    </div>
                    <img src="{{ media_prefix }}{{ p.coverphoto }}" width="160" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
