{% extends "base.html" %}
{% block title %}
    MyView - Soluções
{% endblock %}
{% block content %}
    {% load static %}   
    <div class="flex bg-light page-title">
        <h2 class="subtitle dark text-center">Soluções e Serviços</h2>
    </div>
    <div class="flex start full-w services-page-list">
        <div class="flex start service-page-item">
            <i class="fa fa-3x fa-envelope-open-o"></i>
            <div class="flex-column start service-page-item_content">
                <span class="dark-label big">Web Design</span>
                <ul>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="flex start service-page-item">
            <i class="fa fa-3x fa-envelope-open-o"></i>
            <div class="flex-column start service-page-item_content">
                <span class="dark-label big">Web Design</span>
                <ul>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="flex start service-page-item">
            <i class="fa fa-3x fa-envelope-open-o"></i>
            <div class="flex-column start service-page-item_content">
                <span class="dark-label big">Web Design</span>
                <ul>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="flex start service-page-item">
            <i class="fa fa-3x fa-envelope-open-o"></i>
            <div class="flex-column start service-page-item_content">
                <span class="dark-label big">Web Design</span>
                <ul>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="flex start service-page-item">
            <i class="fa fa-3x fa-envelope-open-o"></i>
            <div class="flex-column start service-page-item_content">
                <span class="dark-label big">Web Design</span>
                <ul>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
        <div class="flex start service-page-item">
            <i class="fa fa-3x fa-envelope-open-o"></i>
            <div class="flex-column start service-page-item_content">
                <span class="dark-label big">Web Design</span>
                <ul>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                    <li class="light-text">Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
        </div>
    </div>
    <form action="{% url 'home' %}#contact" class="flex-column full-w">
        <button class="button">Mande uma Mensagem</button>
    </form>
    <br>
    <br>
    <br>
{% endblock %}
