.footer
    background-color #000000
    padding 2.5rem 0

.pre-footer
    padding 0 2rem 2rem 2rem
    flex-wrap wrap
    background-color darkcolor

.pre-footer_item
    margin-top 3rem
    padding 0 1rem
    width 100%

.pre-footer_item_title
    margin-bottom 40px

.footer-logo
    img
        height 80px
        margin-left -25px
        margin-top -25px

.footer-logo_text, .footer-logo_btn
    margin-top 0

.pre-footer_item_instagram_container
    flex-wrap wrap
    justify-content space-between

.django_instagram_media_wall_item
    width 32%
    img
        width 100%
        height auto

@media(min-width 768px)
    .pre-footer
        padding 0 3rem 3rem 3rem

    .pre-footer_item
        width 25%