darkcolor = rgb(17, 17, 17)
darkgraycolor = #111111
lightgraycolor = rgb(136, 136, 136)
primarycolor = #59d7c5
secondarycolor = #59d7c5
filtercolor = rgba(43,73,103,0.4)
lightbg = #f7f7f7
mediumbg = #e5e5e5

*
    box-sizing: border-box

html, body
    margin: 0
    padding: 0
    width: 100%

body
    font-family: 'Raleway', sans-serif
    color: darkcolor

h1, h2, h3, h4, h5, h6
    font-family: 'Montserrat', sans-serif
    font-weight 400

a
    font-family: 'Montserrat', sans-serif
    color: darkcolor
    font-size: 12px
    text-transform: uppercase
    text-decoration none
    transition all 400ms ease
    &:hover, &:focus, &:active
        color: secondarycolor
    &.big
        font-size 16px

.flex
    display: flex
    align-items: center
    &.start
        align-items: flex-start

.flex-column
    display: flex
    flex-direction: column
    align-items: center
    &.start
        align-items: flex-start

.wrap
    flex-wrap wrap

.min-full-size
    width: 100%
    height: 100%

.justify-center
    justify-content: center

.space-between
    justify-content space-between

.full-w
    width: 100%

.full-h
    height: 100%

.bg-light
    background-color: lightbg

.text-center
    text-align center

.section-title_container
    min-height: 252px

.page-title
    margin-top 100px
    height 150px
    justify-content center
    padding 1rem
    .subtitle
        font-size 18px

.title
    font-size: 24px
    letter-spacing: 2px
    text-transform: uppercase
    &.big
        font-size: 30px
        letter-spacing: 5px

.subtitle
    font-size: 20px
    color: darkcolor
    letter-spacing: 1px
    line-height: 20px
    text-transform: uppercase

.dark-label
    font-family: 'Montserrat', sans-serif
    color: darkcolor
    font-size: 14px
    text-transform: uppercase
    &.big
        font-size 16px

.light-label
    font-family: 'Montserrat', sans-serif
    color: white
    font-size: 14px
    text-transform: uppercase
    &.big
        font-size 16px

.dark-text
    color: darkcolor
    font-weight: 300
    font-size: 14px
    line-height: 26px

.light-text
    color: lightgraycolor
    font-weight: 300
    font-size: 14px
    line-height: 26px

.detail-text
    font-size 14px
    margin-bottom 5px

.testimonial
    color: lightgraycolor
    font-size: 16px
    font-style italic
    line-height 22px
    &:before, &:after
        content '"'

.dark
    color: darkcolor

.white
    color: white

.margin-b
    margin-bottom 18px

.triangles
    &:after, &:before
        content: ''
        display: block
        position: absolute
        left: 50%
        transform: translate(-50%,0)
        width: 0
        border-left: 55px solid transparent
        border-right: 55px solid transparent
        z-index: 100
        
    &:after
        bottom: 0
        border-bottom: 18px solid #fff
        border-top: 0
        
    &:before
        top: 0
        border-top: 18px solid #fff
        border-bottom: 0

.overlay
    position: absolute
    background: linear-gradient(180deg, filtercolor, filtercolor)
    height: 100%

.body-overlay
    position fixed
    height 100vh
    background-color rgba(0, 0, 0, .9)
    z-index 10000
    display flex
    align-items center
    justify-content center
    span
        position absolute
        top 0
        right 0
        color white
        margin 2rem
        cursor pointer

.body-overlay, .overlay
    width: 100%
    top: 0
    left: 0

.module-title
    height 350px
    position relative
    background-position center center
    background-size cover
    .title
        z-index: 100
    &.audiovisual
        background-image url('/static/img/audiovisual-background.jpg');
    &.enterprise
        background-image url('/static/img/enterprise-background.jpg');
    &.solutions
        background-image url('/static/img/solutions-background.jpg');
    &.academy
        background-image url('/static/img/academy-background.jpg');
    
.module-item_container
    flex-wrap wrap
    padding 5rem 0 0

.module-item_cta
    margin-bottom 3rem

.modules-group
    padding 0

.module-description
    padding 7rem 1rem 2rem 1rem

.module-description-content
    max-width 650px
    .subtitle
        margin-top -3rem

.module
    overflow hidden
    text-align center
    padding 2rem 3rem 0 3rem

.module-header
    text-align center
    padding 0 2rem 2rem 2rem
    width 100%

.module-card
    height 300px
    border-radius 21px 21px 0 0
    border-style solid 
    border-width 3px 3px 0 3px
    &.primary
        border-color #01ABF1
    &.secondary
        border-color #168B40
    &.terciary
        border-color #9765B3
    &.quaternary
        border-color #EF8C20

.module-logo
    overflow hidden
    display block
    margin-left auto
    margin-right auto
    width 80%

@media(min-width:768px)
    .page-title
        justify-content flex-start
        padding 4rem
    
    .title
        font-size: 32px
        &.big
            font-size: 45px

@import './home/form'
@import './home/header'
@import './home/top'
@import './home/description'
@import './home/project'
@import './home/clients'
@import './home/contact'
@import './audiovisual'
@import './footer'
@import './projects'
@import './single-project'
@import './services'
@import './courses'

.newsletter-container
    padding 5rem 2rem
    flex-wrap wrap
    form
        flex-wrap wrap
        
    
    input
        width 100%
        margin 1rem 1rem
    
@media(min-width 768px)
    .newsletter-container
        input
            width 300px
