darkcolor = rgb(17, 17, 17)
darkgraycolor = #111111
lightgraycolor = rgb(136, 136, 136)
primarycolor = #59d7c5
secondarycolor = #59d7c5
filtercolor = rgba(43,73,103,0.4)
lightbg = #f7f7f7

*
    box-sizing: border-box

html, body
    margin: 0
    padding: 0
    width: 100%

body
    font-family: 'Raleway', sans-serif
    color: darkcolor

.flex
    display: flex
    align-items: center

.flex-column
    display: flex
    flex-direction: column
    align-items: center
    &.start
        align-items: flex-start

.min-full-size
    width: 100%
    height: 100%

.justify-center
    justify-content: center

.full-w
    width: 100%

.full-h
    height: 100%

.bg-light
    background-color: lightbg

.text-center
    text-align center

.section-title_container
    height: 252px

.title
    font-size: 32px
    letter-spacing: 2px
    text-transform: uppercase
    &.big
        font-size: 45px
        letter-spacing: 5px

.subtitle
    font-size: 20px
    color: darkcolor
    letter-spacing: 1px
    line-height: 20px
    text-transform: uppercase

.dark-label
    color: darkcolor
    font-size: 14px
    text-transform: uppercase

.light-text
    color: lightgraycolor
    font-weight: 300
    font-size: 14px
    line-height: 26px
    
.dark
    color: darkcolor

.white
    color: white

.triangles
    &:after, &:before
        content: ''
        display: block
        position: absolute
        left: 50%
        transform: translate(-50%,0)
        width: 0
        border-left: 55px solid transparent
        border-right: 55px solid transparent
        z-index: 100
        
    &:after
        bottom: 0
        border-bottom: 18px solid #fff
        border-top: 0
        
    &:before
        top: 0
        border-top: 18px solid #fff
        border-bottom: 0

.overlay
    background: linear-gradient(180deg, filtercolor, filtercolor)
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0

.o-button
    color: secondarycolor
    background-color rgba(0, 0, 0, .0)
    border: 2px solid secondarycolor
    text-decoration: none
    font-size: 12px
    line-height: 13px
    letter-spacing: 1px
    padding 10.5px 19.6px
    transition 600ms all ease-out

    &:hover, &:active, &:focus
        background-color: secondarycolor
        color: white

@import './home/header'
@import './home/top'
@import './home/description'
@import './home/services'

.img-container
    overflow: hidden

.project-container
    display: flex
    flex-direction: column
    img
        display block
        width: 100%
    
    &:hover, &:active, &:focus
        .project_small-overlay
            transform scale(1, 1)
            background-color rgba(0, 0, 0, .8)
            .o-button:first-child, .o-button:last-child
                transform translateX(0)

.project_big, .project_small
    width: 100%

.project_description
    padding: 3rem

.project_small
    .img-container
        position relative

.project_small-overlay
    transform scale(0, 0)
    position absolute
    overflow hidden
    width 100%
    height 100%
    top: 0
    left 0
    z-index 100
    background-color rgba(0, 0, 0, .0)
    transition 600ms all ease
    .o-button
        margin-right: 5px
        
    .o-button:first-child, .o-button:last-child
        transition 600ms all ease-out
    
    .o-button:first-child
        transform translateX(-100%)
        
    .o-button:last-child
        margin-right: 0
        transform translateX(100%)
        

@media(min-width: 868px)
    .project-container
        flex-direction: row
        
        &:nth-child(2n)
            >*:nth-child(2)
                order: -1
    
    .project_big
        width: 66%

    .project_small
        width: 34%
        &>*
            height: 50%
