.services-page-list
    padding 4rem 2.5rem 0 2.5rem
    flex-wrap wrap

.service-page-item
    width 100%
    margin-bottom 5rem

.service-page-item_content
    margin-left 2rem
    ul
        list-style none
        padding-left 0

@media(min-width 768px)
    .services-page-list
        padding 6rem 4rem 0 4rem

    .service-page-item
        width 50%

@media(min-width 1040px)
    .service-page-item
        width 33.333333%
