.single_project-container
    padding 4rem 1rem
    display flex
    flex-direction column

.single_project-photos
    width 100%
    img
        width 100%
        margin-bottom 20px

.single_project-content
    display flex
    flex-direction column
    alignt-items flex-start
    order -1
    width 100%
    text-align left
    .subtitle
        text-align left
        margin-top 0
        padding-bottom 3rem
        border-bottom 1px solid #eee

@media(min-width 768px)
    .single_project-container
        padding 4rem
        flex-direction row
        
    .single_project-photos
        width 65%
        
    .single_project-content
        padding 0 2rem
        order 1
        width 35%