.testimonial-section
    padding 3rem 0 5rem 0

#testimonial-container
    transition transform 300ms ease

.clients-container
    width 100%
    overflow hidden

.client
    flex-shrink 0
    margin 0
    flex-basis 100%
    padding: 2rem 1rem

.client-img
    border-radius 50%
    
.client-name
    margin-bottom .4rem

.client-controls
    span
        cursor pointer
        margin 0 1rem

.clientlogos
    padding 60px 5%

.clientlogos_img
    height 60px

@media(min-width:768px)
    .clientlogos
        padding 60px 10%
    .clientlogos_img
        height 90px

    .client
        width 50%
        padding: 2rem 15%
