.contact-container
    flex-wrap: wrap
    padding 4rem 0
    
.contact-info, .contact-form
    width: 100%
    padding: 2rem

.contact-form
    input, textarea
        width 100%

.half-form_container
    justify-content space-between
    flex-wrap wrap
    
.contact-info_icons
    .icon-button
        margin-right 10px  

@media(min-width:768px)

    .contact-info
        width: 40%

    .contact-form
        width: 60%
        input, textarea
            &.half-form
                width 48%
