.img-container
    overflow: hidden

.project-container
    display: flex
    flex-direction: column
    img
        display block
        width: 100%
    
    &:hover, &:active, &:focus
        .project_small-overlay
            transform scale(1, 1)
            background-color rgba(0, 0, 0, .8)
            .button-square:first-child, .button-square:last-child
                transform translateX(0)

.project_big, .project_small
    width: 100%

.project_description
    padding: 3rem
    overflow hidden

.project_small
    .img-container
        position relative

.project_small-overlay
    transform scale(0, 0)
    position absolute
    overflow hidden
    width 100%
    height 100%
    top: 0
    left 0
    z-index 100
    background-color rgba(0, 0, 0, .0)
    transition 600ms all ease
    .button-square
        margin-right: 5px
        
    .button-square:first-child, .button-square:last-child
        transition 600ms all ease-out
    
    .button-square:first-child
        transform translateX(-100%)
        
    .button-square:last-child
        margin-right: 0
        transform translateX(100%)
        

@media(min-width: 868px)
    .project-container
        flex-direction: row
        
        &:nth-child(2n)
            >*:nth-child(2)
                order: -1
    
    .project_big
        width: 66%

    .project_small
        width: 34%
        &>*
            height: 50%
